@tailwind base;
@tailwind components;
@tailwind utilities;

.illustration1 {
  width: 600px;
}

.intro-h1 {
  font-family: "Raleway";
  font-weight: 700;
}

.intro-p {
  font-family: "Raleway";
  font-weight: 400;
}

.body {
  background-color: hsl(218, 28%, 13%);
}

@media screen and (max-width: 768px) {
  .intro-h1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .intro-p {
    text-align: center;
  }
}

.illustration2 {
  width: 400px;
}

.sec-introh1 {
  font-family: "Raleway";
  font-weight: 700;
}

.sec-introh2 {
  font-family: "Raleway";
  font-weight: 700;
}


.illustration3 {
  width: 600px;
}

.illustration4 {
  width: 400px;
  margin-top: 200px;
  margin-bottom: 100px;
}
